.navbar-dark .logo {
    height: 40px;
}

.navbar-dark .navbar-nav .dropdown-menu .dropdown-item:active,
.navbar-dark .navbar-nav .dropdown-menu .dropdown-item .active {
  background-color: #081993fc;
}

.navbar-dark .navbar-nav .dropdown-menu .dropdown-item:focus {
  outline: none; 
}

.btn-3d-primary {
    background: transparent linear-gradient(90deg, #010b53fc 0%, #081993fc 100%) 0% 0% no-repeat padding-box;
    transition: 0.3s all; 
}

.btn-3d-primary:hover {
      background: transparent linear-gradient(90deg, #010b53fc 0%, #081993fc 100%) 0% 0% no-repeat padding-box;
      transition: 0.3s all;
}

.btn-3d-primary:active {
      background-color: #081993fc;
}

.fs {
    font-size: 10px;
}

.ls {
    letter-spacing: 2px;
}

.fw {
	font-weight: 300;
}