/*
0px - 360px:		XS Phone
360px - 576px: 		Phone
576px - 768px: 		Tablet Portrait
768px - 992px:		Tablet Landscape
992px - 1200px: 	desktop
1200px - 1920px:	normal Media queries
1920px and up:  	Full HD
*/
/*
$breakpoint arguement choices:
- xs-phone
- phone
- tab-port
- tab-land
- desktop
- full-hd

1em = 16px
*/
body {
    background-color: #d9e3ee;
    font-weight: 500; }
  
  .text-primary {
    color: #081993fc !important; }
  
  .text-primary-dark {
    color: #010b53fc !important; }
  
  .text-secondary-light {
    color: #adb5c1 !important; }
  
  .text-white-hov:hover {
    color: #fff !important; }
  
  .text-black {
    color: #000; }
  
  .text-graydark {
    color: #49525f; }
  
  .bg-primary {
    background-color: #081993fc !important; }
    .bg-primary-hov:hover {
      background-color: #081993fc !important; }
  
  .bg-secondary {
    background-color: #49525f !important; }
    .bg-secondary-hov:hover {
      background-color: #49525f !important; }
  
  .bg-white-hov:hover {
    background-color: #fff; }
  
  .bg-gray {
    background-color: #bac1cb; }
  
  .bg-graydark {
    background-color: #49525f; }
  
  .bg-success {
    background-color: #4bb08e; }
  
  .btn-primary {
    background-color: #081993fc !important; }
    .btn-primary-hov:hover {
      background-color: #081993fc !important; }
  
  .fs-10 {
    font-size: 10px !important; }
  
  .fs-8 {
    font-size: 8px !important; }
  
  .fs-12 {
    font-size: 12px !important; }
  
  .fs-14 {
    font-size: 14px !important; }
  
  .fs-16 {
    font-size: 16px !important; }
  
  .fs-18 {
    font-size: 18px !important; }
  
  .fs-20 {
    font-size: 20px !important; }
  
  .fs-24 {
    font-size: 24px !important; }
  
  .fs-30 {
    font-size: 30px !important; }
  
  .fs-35 {
    font-size: 35px !important; }
  
  .ls-p5 {
    letter-spacing: 0.5px; }
  
  .ls-1 {
    letter-spacing: 1px; }
  
  .ls-2 {
    letter-spacing: 2px; }
  
  .fw-300 {
    font-weight: 300; }
  
  .fw-400 {
    font-weight: 400; }
    .fw-400i {
      font-style: italic; }
  
  .fw-500 {
    font-weight: 500; }
  
  .fw-600 {
    font-weight: 600; }
  
  .fw-700 {
    font-weight: 700; }
  
  .fw-800 {
    font-weight: 800; }
  
  @media (min-width: 36em) {
    .h-sm-100vh {
      height: 100vh !important; } }
  
  @media (min-width: 48em) {
    .h-md-100vh {
      height: 100vh !important; } }
  
  @media (min-width: 62em) {
    .h-lg-100vh {
      height: 100vh !important; } }
  
  @media (min-width: 75em) {
    .h-xl-100vh {
      height: 100vh !important; } }
  
  .h-100vh {
    height: 100vh !important; }
  
  @media (min-width: 22.5em) {
    .w-xs-50 {
      width: 50% !important; }
    .w-xs-75 {
      width: 75% !important; }
    .w-xs-100 {
      width: 100% !important; } }
  
  @media (min-width: 36em) {
    .w-sm-50 {
      width: 50% !important; }
    .w-sm-75 {
      width: 75% !important; }
    .w-sm-100 {
      width: 100% !important; } }
  
  @media (min-width: 48em) {
    .w-md-15 {
      width: 15% !important; }
    .w-md-25 {
      width: 25% !important; }
    .w-md-50 {
      width: 50% !important; }
    .w-md-75 {
      width: 75% !important; }
    .w-md-100 {
      width: 100% !important; } }
  
  .list-style-none li {
    list-style-type: none; }
  
  .cursor-pointer:hover {
    cursor: pointer; }
  
  .smooth {
    transition: 0.4s all; }
  
  .reset-link {
    text-decoration: none; }
    .reset-link:hover {
      text-decoration: none; }
  
  .border-1 {
    border: 1px solid #ebeef1; }
  
  .min-width-auto {
    min-width: inherit !important; }
  
  .outline-none:focus {
    outline: none; }
  
  .btn-3d-primary {
    background: transparent linear-gradient(90deg, #010b53fc 0%, #081993fc 100%) 0% 0% no-repeat padding-box;
    transition: 0.3s all; }
    .btn-3d-primary:hover {
      background: transparent linear-gradient(90deg, #010b53fc 0%, #081993fc 100%) 0% 0% no-repeat padding-box;
      transition: 0.3s all; }
    .btn-3d-primary:active {
      background-color: #081993fc; }
  
  .form-error {
    color: #dc3545;
    font-size: 80%;
    margin-top: 0.25rem;
    width: 100%; }
  
  .navbar-dark .logo {
    height: 40px; }
  
  .navbar-dark .navbar-nav .dropdown-menu .dropdown-item:active,
  .navbar-dark .navbar-nav .dropdown-menu .dropdown-item .active {
    background-color: #081993fc; }
  
  .navbar-dark .navbar-nav .dropdown-menu .dropdown-item:focus {
    outline: none; }
  
  .chat-container {
    width: 100%;
    height: 100%; }
    .chat-container .scroll-content {
      height: calc(100vh - 130px);
      overflow: auto; }
      .chat-container .scroll-content .msg-container {
        width: 100%;
        margin-bottom: 0.2rem; }
        .chat-container .scroll-content .msg-container-left {
          text-align: left; }
        .chat-container .scroll-content .msg-container-right {
          text-align: right; }
      .chat-container .scroll-content .msg-header {
        margin-bottom: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem; }
      .chat-container .scroll-content .msg-content {
        display: inline-block;
        background-color: white;
        border-radius: 0.4rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        width: auto;
        word-break: break-all;
        box-shadow: 1px silver;
        text-align: left;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; }
      .chat-container .scroll-content .msg-user-name {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        font-weight: bold; }
      .chat-container .scroll-content .msg-text {
        font-size: 14px; }
    .chat-container .message-bar {
      position: fixed;
      bottom: 0;
      margin-bottom: 22px; }
  
  .scroll-content::-webkit-scrollbar {
    display: none; }
  
  .rotate-45 {
    transform: rotate(45deg); }
  